@import "~bootstrap/scss/bootstrap";

$primary: #125D98;
$secondary:#F5A962;
$intermediary:#3C8DAD;
$light: #FBFBFB;
$white: #FFF;
$dark: #393636;
$titleFont: 'Ruda', sans-serif;
$textFont: 'Open Sans', sans-serif;