{% extends 'layoutAdmin.html.twig' %}

{% form_theme form with ['bootstrap_5_layout.html.twig' ] only %}

{% block title %}New Skill{% endblock %}

{% block body %}
<main class="container mt-5">
    <h1>Create new Skill</h1>

    {{ include('components/_form.html.twig') }}

    <a href="{{ path('skill_index') }}" class="btn btn-dark mt-5">Back to list</a>
    </main
{% endblock %}
