<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Gersey Stelmach | Web developer based in Orléans, France
            {% endblock %}
        </title>
        <link rel="icon" href="{{ asset('build/images/logositegersey.png') }}" type="image/png"/>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body>
        {% block header %}{% endblock %}
        {% block navbar %}{% endblock %}
        {% block body %}{% endblock %}
    </body>

    <footer>
        {% block footer %}{% endblock %}
    </footer>
</html>
