{% extends 'layoutAdmin.html.twig' %}

{% form_theme form with ['bootstrap_5_layout.html.twig' ] only %}

{% block title %}New Article{% endblock %}

{% block body %}
<main class="container">
    <h1 class="mt-5">Create new Article</h1>

    {{ include('components/_form.html.twig') }}

    <a href="{{ path('article_index') }}" class="btn btn-dark mt-5">back to list</a>

    </main>
{% endblock %}
